@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@source "./index.html";
@source "./src/**/*.{js,jsx,ts,tsx}";

@theme {
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;

  --color-light-start: #ebf2fc;
  --color-light-end: #eefbf9;
  --color-dark-start: #04091b;
  --color-dark-end: #091540;
  --color-soft-white: #fbfdfe;
}
